/* © 2021 Copyright by Tiendatmagic */
body {
  margin: 0;

}

#menu {
  overflow: hidden;

  background-color: #444444;
}

#menu a {
  display: block;
  color: #fff;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 14px;
  font-size: 17px;
}

#menu a.active {
  background-color: #4dca51;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.header p,
.content p {
  font-size: 20px;
}
/* © 2021 Copyright by Tiendatmagic */
